{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap-5/css/bootstrap.min.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="{% url 'list_articles' %}">Home</a>
                  <a class="nav-link" href="#">About</a>
                  <a class="nav-link" href="#">Contact us</a>
                  <a class="nav-link" href="#" >FQS</a>
                </div>
              </div>
            </div>
          </nav>

        {% block main %}{% endblock main %}
    
    </div>
    {% block static %}{% endblock static %}
</body>

    <script src="{% static 'css/bootstrap-5/js/bootstrap.min.js' %}"></script>
</html>